@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
  --oceanBlue: #0582ca;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #023E8A;
    --foreground: #FFFFFF;
  }
} */

body {
  color: #ffffff;
  background: var(--marian-blue);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
