:root {
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
  --oceanBlue: #0582ca;
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-style: normal;
}
body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background-color: var(--light-cyan);
}
* {
  box-sizing: border-box;
}
a,
button {
  cursor: pointer;
}
h1,
h3,
h4,
h5,
p {
  margin: 0px;
}

/* Login Page Styles */

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.login-page .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  width: 375px;
}
.login-page .heading .logo {
  width: 125px;
  height: auto;
}
.login-page .heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.login-page .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login {
  display: flex;
  flex-direction: column;
  background-color: var(--non-photo-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 25px;
  width: 375px;
  height: 525px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login-page .login h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.login-page .login label {
  padding-bottom: 5px;
  font-weight: bold;
}
.login-page .login input {
  background-color: var(--non-photo-blue);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 11px;
  margin-bottom: 40px;
  width: 275px;
}
.login-page .login input::placeholder {
  color: black;
}
.login-page .login button {
  background-color: var(--pacific-cyan);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
  height: 40px;
  width: 275px;
}
.login-page .login button:hover {
  background-color: var(--blue-green);
}
.login-page .login a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.login-page .theme {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: auto;
  margin: 15px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--marian-blue);
    color: white;
  }
  .login-page .login {
    background-color: var(--federal-blue);
  }
  .login-page .login input {
    background-color: var(--federal-blue);
    border: solid white;
    color: white;
  }
  .login-page .login input::placeholder {
    color: white;
  }
  .login-page .login a {
    color: white;
  }
}
/* Register Page Styles */
.register-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.register-page .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  width: 375px;
}
.register-page .heading .logo {
  width: 125px;
  height: auto;
}
.register-page .heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.register-page .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-page .register {
  display: flex;
  flex-direction: column;
  background-color: var(--non-photo-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 11px;
  padding-bottom: 25px;
  width: 375px;
  height: 725px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.register-page .register h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.register-page .register label {
  padding-bottom: 5px;
  font-weight: bold;
}
.register-page .register input {
  background-color: var(--non-photo-blue);
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 11px;
  margin-bottom: 40px;
  width: 275px;
}
.register-page .register input::placeholder {
  color: black;
}
.register-page .register button {
  background-color: var(--pacific-cyan);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
  height: 40px;
  width: 275px;
}
.register-page .register button:hover {
  background-color: var(--blue-green);
}
.register-page .register a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.register-page .theme {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: auto;
  margin: 15px;
}

/* Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--non-photo-blue);
  width: 30vw;
  height: 100vh;
}
.sidebar .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding: 15px;
  border-bottom: 2px solid black;
}
.sidebar .header h2 {
  margin: 10px;
}
.sidebar .account {
  display: flex;
  gap: 5px;
  align-items: center;
}
.sidebar .account img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.sidebar .menu-toggle {
  display: none;
}
.sidebar .account button {
  background-color: var(--non-photo-blue);
  border: none;
}
.sidebar .conversations {
  overflow-y: auto;
  background-color: var(--non-photo-blue);
}
.sidebar .conversations .row {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid black;
  gap: 5px;
  text-decoration: none;
  color: inherit;
}
.sidebar .conversations .row:hover {
  background-color: var(--non-photo-blue-2);
  cursor: pointer;
}
.sidebar .conversations .row .user-info p {
  max-width: 30vw;
  white-space: wrap;
  text-overflow: ellipsis;
}
.sidebar .conversations .row img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}
.sidebar .conversations .row .user-info {
  display: flex;
  flex-direction: column;
}
.sidebar .conversations .row .user-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Conversation Form Styles*/
.sidebar .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .modal form {
  background-color: var(--vivid-sky-blue);
  border: 1px solid #888;
  border-radius: 10px;
  min-width: 400px;
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Messages Page Styles */
.messages-page,
.profile-page {
  display: flex;
  height: 100vh;
}
.messages-page section,
.profile-page section {
  display: flex;
  flex-direction: column;
  width: 70vw;
}
.messages-page .messages-header,
.profile-page .profile-header {
  border-bottom: 2px solid black;
  background-color: var(--non-photo-blue-2);
  min-height: 100px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messages-page .messages-header h1,
.profile-page .profile-header h1 {
  margin: 0 auto;
  padding: 0px;
}
.messages-page .messages-header button,
.profile-page .profile-header button {
  background-color: var(--non-photo-blue-2);
  border: none;
  display: none;
}
.messages-page .messages-header button img,
.profile-page .profile-header button img {
  width: 40px;
  height: auto;
}
.messages-page .messages {
  display: flex;
  flex-direction: column;
  padding: 50px;
  overflow-y: auto;
}
.messages-page .messages .message {
  background-color: var(--vivid-sky-blue);
  width: 300px;
  padding: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 20px;
  word-wrap: break-word;
  margin-bottom: 30px;
}
.messages-page .messages .sent {
  align-self: flex-end;
  border-radius: 20px 0 20px 20px;
}

.messages-page .send-message {
  margin-top: auto;
  border-top: 2px solid black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--non-photo-blue-2);
  width: 100%;
}
.messages-page .send-message textarea {
  height: 2em;
  width: 100%;
  resize: none;
  background-color: var(--non-photo-blue-2);
  overflow: visible;
  border: none;
}
.messages-page .send-message textarea:hover {
  outline: none;
}
.messages-page .send-message textarea:focus {
  outline: none;
}
.messages-page .send-message button {
  width: 40px;
  height: auto;
  background-color: var(--non-photo-blue-2);
  border: none;
}
.profile-page .profile-header .profile {
  display: flex;
  align-items: center;
  margin: 10px;
}
.profile-page .profile-header .profile img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.profile-page .description {
  overflow-y: auto;
  padding: 50px;
  font-size: 1.5em;
}
.profile-page .profile-header .edit-button {
  display: inline-block;
}
.profile-page textarea {
  height: 2em;
  width: 100%;
  height: 60px;
  resize: vertical;
  background-color: var(--non-photo-blue-2);
  overflow: visible;
  border: none;
  padding: 20px;
}
.profile-page textarea:hover {
  outline: none;
}
.profile-page textarea:focus {
  outline: none;
}
.profile-page input {
  height: 30px;
  border-radius: 8px;
  border: none;
  padding: 5px;
}
.profile-page button.edit-button {
  background-color: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 150px;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--marian-blue);
    color: white;
  }
  .register-page .register {
    background-color: var(--federal-blue);
  }
  .register-page .register input {
    background-color: var(--federal-blue);
    border: solid white;
    color: white;
  }
  .register-page .register input::placeholder {
    color: white;
  }
  .register-page .register a {
    color: white;
  }
  .sidebar {
    background-color: var(--federal-blue);
  }
  .sidebar .conversations {
    background-color: var(--federal-blue);
  }
  .sidebar .account button {
    background-color: var(--federal-blue);
  }
  .sidebar .header,
  .sidebar .conversations .row {
    border-bottom: 2px solid white;
  }
  .sidebar .conversations .row:hover {
    background-color: var(--honolulu-blue);
  }
  .messages-page .messages .message {
    background-color: var(--honolulu-blue);
  }
  .messages-page .messages-header,
  .profile-page .profile-header {
    border-bottom: 2px solid white;
  }
  .messages-page .messages-header button {
    background-color: var(--oceanBlue);
  }
  .messages-page .send-message {
    border-top: 2px solid white;
  }
  .messages-page .messages-header,
  .profile-page .profile-header,
  .messages-page .send-message {
    background-color: var(--oceanBlue);
  }
  .messages-page .send-message textarea,
  .messages-page .send-message button,
  .profile-page .profile-header button,
  .profile-page textarea {
    background-color: var(--oceanBlue);
    color: white;
  }
  .messages-page .send-message textarea,
  .messages-page .send-message textarea::placeholder {
    color: white;
  }
  .sidebar .modal form {
    background-color: var(--blue-green);
  }
}

@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }
  .messages-page section,
  .profile-page section {
    width: 100vw;
  }
  .messages-page .messages-header button,
  .profile-page .profile-header button {
    display: inline-block;
  }
  .sidebar.visible {
    display: block;
    min-width: 100vw;
  }
  .sidebar .menu-toggle {
    display: inline-block;
  }
  .sidebar .conversations .row .user-info p {
    min-width: 100vw;
  }
  .messages-page section.section-hidden,
  .profile-page section.section-hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .messages-page .messages .message {
    width: 150px;
  }
  .messages-page .messages {
    padding: 20px;
  }
  .messages-page .messages-header button {
    display: inline-block;
  }
}
